# Зависимости (тяжелые папки)
node_modules/

# Секретные переменные (самое важное!)
.env

# Папка с ключами Google
keys/

# Логи ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки сборки (если будешь делать билд)
dist/
build/